<%- include("partials/header.ejs") %>

    <div class="home">
        <h1 class="h1-home text-center">Client Management App</h1>
        <p class="home-p text-center">Welcome to our Client Management System, where you can effortlessly enhance your client relationships and streamline your business processes!</p>
    </div>

<%- include("partials/footer.ejs") %>